In [1]:
import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
df=pd.read_json('./dataset/Q2_Dataset.cleaned-general.json')
df.head()

,tweet_text,topic,label
0,Ebola is not going to come close to you your ...,other_useful_information,6
1,It is too funny to watch MSNBC put an infectio...,treatment,3
2,How the GOP fights infectious disease Ebola,other_useful_information,6
3,it is all about spin Guaranteed though questi...,other_useful_information,6
4,WHO officially declares that Senegal has ende...,disease_transmission,1

In [5]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import re

nltk.download('stopwords')
stemmer = PorterStemmer()
words = stopwords.words("english")
df['tweet_text'] = df['tweet_text'].apply(lambda x: " ".join([stemmer.stem(i) for i in x.lower().split() if i not in words]))

In [6]:
df.head()

,tweet_text,topic,label
0,ebola go come close friend famili member ijn c...,other_useful_information,6
1,funni watch msnbc put infecti diseas split scr...,treatment,3
2,gop fight infecti diseas ebola,other_useful_information,6
3,spin guarante though question rais role post e...,other_useful_information,6
4,offici declar seneg end ebola transmiss within...,disease_transmission,1

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

vectorizer = TfidfVectorizer(min_df=3, stop_words="english", sublinear_tf=True, norm='l2', ngram_range=(1, 2))
final_features = vectorizer.fit_transform(df['tweet_text']).toarray()
final_features.shape

(9319, 6912)

## Save Train Test Set

In [8]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.25)

print(f'INFO : Train size {df_train.shape[0]}')
print(f'INFO : Test size {df_test.shape[0]}')

INFO : Train size 6989
INFO : Test size 2330

In [9]:
df_train.to_json('./dataset/df_train.tokenized.json')
df_test.to_json('./dataset/df_test.tokenized.json')

## Save Vectorizer

In [10]:
from helper.pickle_utils import save_pickle, load_pickle

In [11]:
save_pickle(vectorizer, './model/tfidf_vectorizer.pkl')

Pickled object to ./model/tfidf_vectorizer.pkl